body {
  margin:0;
}

a {
  color: #fff;
  text-transform: uppercase;
}

.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #fcfcfc;
    text-align: center;
    padding: 30px 41px;
    text-decoration: none;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 30px;
    border-right: 0px solid rgba(255, 255, 255, 0.8);
    border-left: 0px solid rgba(255, 255, 255, 0.8);   
}

.topnav a:hover {
    background-color: #d44444;
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: inline-flex;
  }
}

@media screen and (max-width: 2000px) {
  .topnav.responsive {position: sticky;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

.Navbar {
  margin-right: 0px;  
  margin-left: 4px; 
}

.body-default {
    background:rgb(0, 0, 0); 
}

.Main {
  border-radius: 0;
  -box-shadow: 1;
  border: 0;
  min-height: 100px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 25px;
  color:#ffffff;
  text-shadow: 2px 2px rgb(0, 0, 0);
  margin-bottom: 0px;
  padding: 0px 20px;
  text-align: center; 
}

.about {
  margin-top: 20vh; 
  text-align:center; 
  
}

.fire_image
{
    background:URL('./david.png');
    width:600px;
    height:500px;
    background-size:auto;
    background-position: center;
    border-radius: 50%;
    margin-top: 5vh; 
    width: 55%;
}

.me {
  color: #d44444; 
  display: inline; 
}

.skills {
  font-size: 50px;
}
 
.class1 {
  width:200px;
  height:200px;
  background:URL('./class1.png');
  background-size: 100%;
}

.class2 {
  width:200px;
  height:200px;
  background:URL('./class2.png');
  background-size: 100%;
}

.class3 {
  width:200px;
  height:200px;
  background:URL('./class3.png');
  background-size: 100%;
}

.imageContainer > img:hover {
  width: 500px;
  height: 500px;
  background-size: 100%;
}

.skills {
  margin-top: 40vh; 
  float:left;
  display: inline;
  margin-right: 20px;
}

.content {
  margin-top: 22vh;
    color: #d44444;
  }
 
  
  
  .horz-list ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
  }

  .horz-list ul li {
    display: inline-table;
    text-decoration: none;
    padding: 0.2em 1.1em;
    border-right: 1px solid #d44444;
    border-left: 1px solid #d44444;
    border-top: 1px solid #d44444;
    border-bottom: 1px solid #d44444;
    margin: 0 0 0 20px;
    margin-top: 20vh;
  }
  
  .horz-list ul li:last-child a {
    border: none;
  }
  
  .horz-list ul li a:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #1a1a1a;
  }

 .education {
   font-size: 50px;
   margin-top: 40vh;
   padding-bottom: 5vh;
 }

 .projects {
  font-size: 50px;
  margin-top: 40vh; 
  text-align: left;
 }

 .contact {
  font-size: 50px;
  margin-top: 40vh; 
  text-align: right;
  padding-right: 200px;
 }
  
  .container-default {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: right 
  }
  
  .card {
    background: #292929;
    min-width: 300px;
    height: 150px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .card i {
    color: #d44444;
    font-size: 2rem;
    position: absolute;
    transition: all 0.4s ease;
  }
  
  .card-title {
    color: #d44444;
    font-size: 1.2rem;
    text-transform: uppercase;
    transform: translate(0,-80px);
    transition: all 0.4s ease;
  }
  
  .card-info {
    color: #fff;
    margin-top: 10px;
    transform: translate(0, 80px);
    transition: all 0.4s ease;
  }
  
  .card:hover i {
    transform: scale(2);
    opacity: 0;
  }
  
  .card:hover .card-title {
    transform: translate(0, 0);
  }
  .card:hover .card-info {
    transform: translate(0, 0);
  }
  
  @media screen and (max-width: 900px) {
    .card {
      flex: 100%; 
      max-width: 500px;
    }
  }

  .footer-default {
    text-align: right;
    margin-right: 15px;
  }

 